* {
  margin: 0;
  padding: 0;
}

$whiteText : rgb(236, 228, 228);

body {
  background-image: linear-gradient(120deg, blue, red);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

h2 {
  color: $whiteText;
}

#result {
 color: $whiteText;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  
}